<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDoWn8pbcWg5TIHp4N9sjSpHWdtxhd-bEc</string>
	<key>GCM_SENDER_ID</key>
	<string>815525832781</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterCalendarApp</string>
	<key>PROJECT_ID</key>
	<string>calendar-app-16b44</string>
	<key>STORAGE_BUCKET</key>
	<string>calendar-app-16b44.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:815525832781:ios:5af1003d0db3a1fd8b5404</string>
</dict>
</plist>